{% extends "index.html" %}
{% block checkResults %}
<h4 class="centeredText">Analysis results for: {{hostURL}}</h4>

<table class="table table-hover">
	<thead>
		<tr>
			<th id="threatRow" scope="col">Threat</th>
			<th scope="col">Result</th>
		</tr>
	</thead>
	<tbody>
		{% for i in resultList %}
		<tr data-toggle="collapse" data-target="#{{i.0}}" class="accordion-toggle">
			<th scope="row">{{i.0}}</th>
			<td>{{i.1}}</td>
		</tr>
		<tr >
			<td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="{{i.0}}"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </div> </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
