{% extends "index.html" %}
{% block checkResults %}
<h4 id="analysisheader">Analysis results for: {{hostURL}}</h4>
<div class="panel panel-default">
	<table class="table table-hover">
		<thead class="thead-default">
			<tr>
				<th id="threatRow" scope="col">Threat</th>
				<th scope="col">Result</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for i in resultList %}
			<tr data-toggle="collapse" data-target="#{{i.0}}" class="accordion-toggle">
				<th scope="row">{{i.0}}</th>
				<td>{{i.1}}</td>
				{% if i.1 == "Not vulnerable" %}
					<td><span class="glyphicon glyphicon-ok"></td>
				{% else %}
					<td><span class="glyphicon glyphicon-remove"></td>
				{% endif %}
			</tr>
			<tr >
				<td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="{{i.0}}"> {{ i.2 }} </div> </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
