{% extends "index.html" %}
{% block checkResults %}

<div class="panel-group clickAble" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title centeredText">
				<div data-toggle="collapse" data-parent="#accordion" href="#collapse2">Show certificate</div>
			</h4>
		</div>
		<div id="collapse2" class="panel-collapse collapse">
			<img src="https://data.whicdn.com/images/168870788/large.jpg" style="display:block;margin:auto">
		</div>
	</div>
</div> 


<h4 class="centeredText">Analysis results for: {{hostURL}}</h4>
<div class="panel panel-default">
	<table class="table table-hover">
		<thead class="thead">
			<tr>
				<th id="threatRow" scope="col">Threat</th>
				<th scope="col">Result</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for i in resultList %}
			<tr data-toggle="collapse" data-target="#{{i.0}}" class="accordion-toggle">
				<th scope="row">{{i.0}}</th>
				<td>{{i.1}}</td>
				{% if i.1 == "Not vulnerable" %}
					<td><span class="glyphicon glyphicon-ok"></td>
				{% else %}
					<td><span class="glyphicon glyphicon-remove"></td>
				{% endif %}
			</tr>
			<tr >
				<td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="{{i.0}}"> {{ i.2 }} </div> </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
