{% extends 'bootstrap.html' %}


{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'urlcheck/style.css' %}" />

{% block js %}
<script>
	function showAnalyzeText() {
		var input = document.getElementById("urlInput").value
		document.getElementById("loadingHead").innerHTML = "Analysing";
		document.getElementById("loadingText").innerHTML = input;
		document.getElementById("loadingFoot").innerHTML = "...";
	}
</script>

{% endblock js %}

	<div class="container">
		<h1 class="centeredText">{% block title %}SSLCHECKER{% endblock %}</h1>
		

		<form action="/checkurl/" method="post" class="form centeredText">
			{% csrf_token %}
			
			<input id="urlInput" type="text" name="textfield">
			{% buttons %}
				<button id="check_button" type="submit" class="btn btn-primary" onclick="showAnalyzeText()">
				{% bootstrap_icon "star" %} Check Server
				</button>
			{% endbuttons %}
		</form>

		<div>
			<div class="centeredText" id="loadingHead"></div>
			<div class="centeredText" id="loadingText"></div>
			<div class="centeredText" id="loadingFoot"></div>
		</div>

		{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
		{% block checkResults %} {% endblock %}
	</div>
{% endblock %}

