.centeredText {
	text-align: center;
}

#check_button {
	margin-top: 10px;
}

#threatRow {
	width: 80%;
}

.glyphicon-ok {
	color: green;
}

.glyphicon-remove {
	color: red;
}

.errorMessage {
	color: red;
	padding-bottom: 10px;
}

h1 a:link {
	text-decoration:none;
}

h1 a:visited{
	color: black;
}

