#loadingMessage {
	height:85px;
	visibility: hidden;
}

.centeredText {
	text-align: center;
}

#check_button {
	margin-top: 10px;
}

#threatRow {
	width: 80%;
}

.glyphicon-ok {
	color: green;
}

.glyphicon-remove {
	color: red;
}

.errorMessage {
	color: red;
	padding-bottom: 10px;
}

h1 a:link {
	text-decoration:none;
}

h1 a:visited{
	color: black;
}

.loader {
	border: 10px solid #f3f3f3; /* Light grey */
	border-top: 10px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
	left: 50%;
	position: absolute;
	margin-left: -20px;
	margin-top: 15px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.panel {
	border: 3px solid #ddd;
}

.table tr {
	cursor: pointer;
}

.clickAble {
	cursor: pointer;
}

#check_button {
	margin-top:15px;
}

#urlInput {
	margin-top:5px;
}

.form-group {
	margin-bottom: 10px;
}

.thead {
	background-color: #f5f5f5;
}

.lineBreak {
	word-break: break-all;
	white-space: pre-line;
}
